<%= form_with model: genre, url: admin_genres_path do |f| %>

  <div class="field">
    <%= f.label :name, "ジャンル名" %>
    <%= f.text_field :name %>
  </div>

  <div class="submit">
    <%= f.submit %>
  </div>
  <% end %>

