<section class="inner">
	<h2 class="section-ttl">ショッピングカート</h2>
	<% if @cart_items.first %>
		<div class="text-right mb-2">
			<!--%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, "data-confirm" => "カートを空にします。よろしいでしょうか？", class: "btn btn-danger" %-->
		</div>
		<table class="cart_items has_border mb-3">
			<thead>
				<tr>
					<th colspan="2">商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
		
				<tr>
					<td></td>
					<td><%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %></td>
					<td></td>
					<td class="text-right">合計金額</td>
					<td class="text-right bold"><%= @cart_items.sum(&:subtotal) %>円</td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
			<%= link_to "注文情報入力に進む", new_order_path, class: "btn btn-success" %>
		</div>
	<% else %>
		<h3 class="text-center mb3 fz24">カート内に商品がありません。</h3>
		<div class="text-center">
			<%= link_to "商品一覧を見る", items_path, class: "btn btn-primary" %>
		</div>
	<% end %>
</section>